/*CSS Transtions*/
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}


/*router link*/
.router-link-active {
  font-weight: bolder;
}
.router-link-exact-active {
  font-size: larger;
}

/*More then 900px*/
@media only screen and (min-width:900px) {
  #hamburger {
    display:none
  }
  nav {
    padding:20px;
    width:auto
  }
  main {
    padding: 100px 60px 0px 100px;
  }
}


/*sidebar*/
.container {
  height: 100%;
  display: flex;
}
nav {
  display: block;
  height: 100%;
}
nav .logo {
  display: block;
  width: 150px;
  padding: 20px;
}


